# Região AWS
AWS_REGION=us-east-1

# Nome do database no Glue/Athena
GLUE_DATABASE=classicmodels_star_schema

# Caminho base onde as pastas Parquet da Task 2 foram gravadas
# Exemplo esperado:
# s3://meu-bucket/task2/star-schema/dim_products/
# s3://meu-bucket/task2/star-schema/fact_orders/
DATA_S3_BASE_PATH=s3://substitua-pelo-seu-bucket/task2/star-schema

# Local onde o Athena salva resultados de consulta
ATHENA_S3_OUTPUT=s3://substitua-pelo-seu-bucket/athena-results/
